@import "https://fontlibrary.org/face/voynich";
@import "https://fontlibrary.org/face/runasans";
#root,
aside,
aside dialog img,
article,
article div,
article img {
  box-sizing: border-box;
}
#root,
article,
article img {
  position: relative;
}
aside,
aside dialog button,
article div,
article.index a::after,
article.title a::after,
article.index ul,
article.title ul,
article.folio h1,
article.folio h1::before,
article.folio h1::after,
article.landscape1 img {
  position: absolute;
}
aside dialog img,
article .first::first-letter,
article.portrait4 img {
  float: left;
}
article.landscape2 img,
article.portrait1 img,
article.portrait3 img {
  float: right;
}
#root,
article div {
  overflow: hidden;
}
aside,
article.grey {
  background-color: #fff !important;
}
article.index.grey,
article.title.grey,
article.index.grey a,
article.title.grey a,
article.title h1 {
  color: #fff;
}
article img,
article.index ul,
article.title ul {
  width: 100%;
}
article.index a::after,
article.title a::after {
  right: 0;
}
article.index ul,
article.title ul,
article.folio h1,
article.landscape1 img {
  bottom: 0;
}
article.folio h1::before,
article.folio h1::after {
  left: 0;
}
article.index a::after,
article.title a::after,
article.folio h1::before,
article.folio h1::after {
  content: attr(data-text);
}
article.landscape2 img,
article.portrait4 img {
  margin: 1em;
}
article.portrait4 img {
  margin-left: 0;
}
article.landscape2 img,
article.portrait1 img {
  margin-right: 0;
}
article.portrait1 img,
article.portrait2 img {
  max-width: 102mm;
  max-height: 102mm;
  width: auto;
}
aside,
article.title div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.voynich {
  font-family: "Voynich123";
}
.rune {
  font-family: "RunaSansMedium";
}
#root {
  font-size: 1.2em;
  line-height: 1.5;
}
aside {
  top: 1em;
  right: 1em;
  padding: 0.5em;
}
aside label {
  display: grid;
  grid-template-columns: 9fr 11fr;
  padding: 0.25em;
  grid-gap: 0.25em;
}
aside dialog {
  position: fixed;
  width: 80%;
}
aside dialog img {
  display: block;
  padding: 0.25em;
}
aside dialog img.active {
  background: #a0522d;
}
aside dialog button {
  top: 1em;
  right: 1em;
}
article {
  width: 100vw;
  height: 70.71vw;
  color: #a0522d;
  page-break-inside: avoid;
  page-break-after: always;
}
article div {
  top: 4.94vw;
  right: 4.94vw;
  bottom: 4.94vw;
  left: 4.94vw;
}
article img {
  display: block;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}
article h1 {
  font-size: 8em;
  color: transparent;
}
article .first::first-letter {
  font-size: 2em;
  margin-right: 0.25em;
}
article p ~ p {
  margin-top: 1em;
}
article.grey {
  color: #000;
  filter: saturate(0) contrast(1.2);
}
article.grey h1 {
  --color: #fff !important;
  --back: #000 !important;
}
article.grey[data-invert="true"] h1 {
  --color: #000 !important;
  --back: #fff !important;
}
article.index,
article.title {
  background-color: #a0522d;
}
article.index a,
article.title a {
  text-decoration: none;
}
article.index,
article.title,
article.index a,
article.title a {
  color: #efe5d7;
}
article.index.grey,
article.title.grey {
  background-color: #333;
}
article.index li,
article.title li {
  border-bottom: 1.2px dashed;
}
article.title h1 {
  text-align: center;
}
article.folio h1::before {
  font-weight: bolder;
  color: var(--back);
}
article.folio h1::after {
  color: var(--color);
}
article.landscape1 img {
  max-width: 100%;
  max-height: 76.2mm;
}
article.landscape2 img {
  max-width: 63.5mm;
}
article.portrait2 div {
  column-count: 2;
}
article.portrait2 img {
  margin-bottom: 0;
}
article.portrait3 div {
  column-count: 3;
}
article.portrait4 img {
  max-width: 100mm;
  max-height: 110mm;
}
@media print {
  @page {
    margin: 0;
    size: 297mm 210mm;
  }
  aside {
    display: none;
  }
  article {
    width: 297mm;
    height: 209.5mm;
  }
  article div {
    top: 29.7mm;
    right: 29.7mm;
    bottom: 29.7mm;
    left: 29.7mm;
  }
}
